%h2 Want your Twitter avatar to be #{link_to '@j3', 'http://twitter.com/#!/j3'}'s face?
%p
  All you need to do is
  = link_to 'authorize us on Twitter', '/auth/twitter'

%p
  I mean look at this beatiful face

= image_tag 'j3face.jpg'

%p sexy. <3
